/* Smooth scroll effect for supported browsers */
html {
  scroll-behavior: smooth;
}

#dark-navbar {
  background-color: black !important;
  fill: white;
  height: 40px;
}

.icon {
  width: 24px;
  height: 24px;
  filter: invert(100);
}

.btn {
  border-radius: 0;
}

#parallax-bg {
  background-color: black;
}

/* Title section */
#title-section {
  height: 100vh;
  min-height: 600px;
  margin: auto;
}

#title-content {
  padding-top: 15vh;
  color: white;
}

#title-hr {
  border-color: white;
  max-width: 400px;
}

#tagline-text {
  font-size: 1.5rem;
}

.title-bg .react-parallax-bgimage {
  top: 50%;
}

@media only screen and (max-width: 767px) {
  .title-bg .react-parallax-bgimage {
    width: 550px !important;
    height: auto !important;
    top: 70%;
  }

  #title-content h1:nth-of-type(1) {
    font-size: 2.5rem;
  }

  #title-content h1:nth-of-type(2) {
    font-size: 1.2rem;
  }
}

/* About section */
#about-section {
  background-color: white;
  width: 100%;
}

#about-headline {
  font-size: 3rem;
}

#about-hr {
  border-color: black;
  max-width: 400px;
}

#about-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.2rem;
  color: black;
  max-width: 500px;
}

.about-logos {
  height: 30px;
}

@media only screen and (max-width: 767px) {
  #about-content h1:nth-of-type(1) {
    font-size: 2.5rem;
  }

  #about-content p {
    font-size: 1rem;
  }
}

#headshot {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
}

/* Project section */
#project-section {
  width: 100%;
  margin: auto;
}

#project-headline {
  color: white;
  font-size: 3rem;
}

#project-hr {
  border-color: white;
  max-width: 400px;
}

#project-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}

.project-title-hr {
  border-style: solid !important;
  border-color: light-grey !important;
  width: 100%;
}

.project-bg .react-parallax-bgimage {
  top: 20%;
}

@media only screen and (max-width: 767px) {
  #project-content h1 {
    font-size: 2.5rem;
  }

  .project-bg .react-parallax-bgimage {
    width: 850px !important;
    height: auto !important;
    top: 20%;
  }
}

.card {
  border-radius: 0;
  border-color: white;
}

.card-hr {
  border-color: black;
}

.card-img-top {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.project-modal-title {
  font-size: 2rem;
}

.project-modal {
  width: 90vw;
  max-width: 900px !important;
}

.project-carousel {
  /* border-style: solid;
  border-color: lightgrey;
  border-width: 1px; */
}

/* Contact section */
#contact-section {
  background-color: white;
  width: 100%;
}

#contact-headline {
  font-size: 3rem;
}

#contact-hr {
  border-color: black;
  max-width: 400px;
}

#contact-content {
  padding-top: 5rem;
  padding-bottom: 1rem;
  color: black;
}

#contact-form {
  text-align: center;
}

#contact-card {
  border-color: black;
  max-width: 500px;
}

@media only screen and (max-width: 767px) {
  #contact-content h1 {
    font-size: 2.5rem;
  }
}

input, textarea {
  border-radius: 0 !important;
}
